@model IEnumerable<aplicacaoFinal.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModeloCarro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KwCarro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeloPino)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModeloCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KwCarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeloPino)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
