@model IEnumerable<aplicacaoFinal.Models.Posto>

@{
    ViewData["Title"] = "Index";
}

<h1>Locais</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PotenciaPosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoPorKwh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePosto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotenciaPosto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoPorKwh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPosto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPosto">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPosto">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
